// body
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #FAFAFA;
}

// font
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// scrollbar
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #ddd;
}
::-webkit-scrollbar-thumb {
    background: #6e6e6e;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
* {
    scrollbar-width: thin;
    scrollbar-color: #555 #ddd;
}

// cursor
.pointer {
    cursor: pointer;
}

// selection
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

// container size
.fit-parent {
    height: 100%;
    width: 100%;
}

.fit-parent-width {
    width: 100%;
}

.fit-parent-height {
    height: 100%;
}

.fit-viewport {
    height: 100vh;
    width: 100vw;
}

.fit-viewport-width {
    width: 100vw;
}

.fit-viewport-height {
    height: 100vh;
}

// text
.center-text {
    text-align: center;
}

// font
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.permanent-marker {
    font-family: "Permanent Marker", cursive !important;
}

// border
.border-round {
    border-radius: 50%;
}

//padding
.small-padding {
    padding: 10px;
}


// margin
.small-margin {
    margin: 10px;
}