<h3>SKILLS</h3>
    <mat-divider style="margin-top:20px; margin-bottom:20px;"></mat-divider>

    <h4 style="margin-top:20px;">.NET</h4>
    <mat-chip-list>
        <mat-chip color="primary" selected>c#</mat-chip>
        <mat-chip color="primary" selected>.Net Framework (4.0 - 4.72)</mat-chip>
        <mat-chip color="primary" selected>.Net Core (2.2 -3.1)</mat-chip>
        <mat-chip color="primary" selected>.Net Standard</mat-chip>
        <mat-chip color="primary" selected>WebAPI (Rest)</mat-chip>
        <mat-chip color="primary" selected>WPF</mat-chip>
    </mat-chip-list>

    <h4 style="margin-top:20px;">WEB</h4>
    <mat-chip-list>
        <mat-chip color="primary" selected>Typescript</mat-chip>
        <mat-chip color="primary" selected>Angular</mat-chip>
        <mat-chip color="primary" selected>RxJS</mat-chip>
        <mat-chip color="primary" selected>Three.js (WebGL)</mat-chip>        
        <mat-chip color="primary" selected>Web Assembly</mat-chip>
    </mat-chip-list>

    <h4 style="margin-top:20px;">COMMUNICATION TECHNOLOGIES</h4>
    <mat-chip-list>
        <mat-chip color="primary" selected>REST</mat-chip>
        <mat-chip color="primary" selected>gRPC</mat-chip>
        <mat-chip color="primary" selected>SignalR (Web Sockets)</mat-chip>
        <mat-chip color="primary" selected>RabbitMQ (AMQP)</mat-chip>        
        <mat-chip color="primary" selected>SOAP</mat-chip>
    </mat-chip-list>

    <h4 style="margin-top:20px;">DATABASE TECHNOLOGIES</h4>
    <mat-chip-list>
        <mat-chip color="primary" selected>SQL (Microsoft SQL & MySQL)</mat-chip>
        <mat-chip color="primary" selected>S3 (Object Storage)</mat-chip>
        <mat-chip color="primary" selected>REDIS (In-Memory Storage)</mat-chip>
        <mat-chip color="primary" selected>DynamoDB</mat-chip>
        <mat-chip color="primary" selected>ATHENA</mat-chip>
        <mat-chip color="primary" selected>SQS (Que)</mat-chip>
        <mat-chip color="primary" selected>RabbitMQ (Que / EventBus)</mat-chip>
    </mat-chip-list>

    <h4 style="margin-top:20px;">TESTING TECHNOLOGIES</h4>
    <mat-chip-list>
        <mat-chip color="primary" selected>NUnit</mat-chip>
        <mat-chip color="primary" selected>xUnit</mat-chip>
        <mat-chip color="primary" selected>Jamsine, Karma</mat-chip>
        <mat-chip color="primary" selected>Fluent Assertions</mat-chip>
        <mat-chip color="primary" selected>Moq</mat-chip>
        <mat-chip color="primary" selected>SpecFlow</mat-chip>
        <mat-chip color="primary" selected>Selenium</mat-chip>
    </mat-chip-list>

    <h4 style="margin-top:20px;">MONITORING & LOGGING</h4>
    <mat-chip-list>
        <mat-chip color="primary" selected>Prometheus</mat-chip>
        <mat-chip color="primary" selected>Grafana</mat-chip>
        <mat-chip color="primary" selected>SeriLogger</mat-chip>
        <mat-chip color="primary" selected>SumoLogic</mat-chip>
    </mat-chip-list>

    <h4 style="margin-top:20px;">ARCHITECTURES</h4>
    <mat-chip-list>
        <mat-chip color="primary" selected>Microservices</mat-chip>
        <mat-chip color="primary" selected>Monolithic</mat-chip>
        <mat-chip color="primary" selected>Event Bus</mat-chip>
    </mat-chip-list>

    <h4 style="margin-top:20px;">DEV OPS</h4>
    <mat-chip-list>
        <mat-chip color="primary" selected>Docker (Software Containerisation)</mat-chip>
        <mat-chip color="primary" selected>Kubernetes (Container Orchestration)</mat-chip>
    </mat-chip-list>

    <h4 style="margin-top:20px;">TOOLS</h4>
    <mat-chip-list>
        <mat-chip color="primary" selected>Visual Studio 2008 - 2019</mat-chip>
        <mat-chip color="primary" selected>Visual Studio Code</mat-chip>
        <mat-chip color="primary" selected>Jet Brains ReSharper</mat-chip>
        <mat-chip color="primary" selected>Git Version Control</mat-chip>
        <mat-chip color="primary" selected>Source Tree Version Control</mat-chip>
        <mat-chip color="primary" selected>Jet Brains ReSharper</mat-chip>
        <mat-chip color="primary" selected>JENKINS</mat-chip>
        <mat-chip color="primary" selected>GitLab, Bitbucket, GitHub & Pipelines</mat-chip>
    </mat-chip-list>

    <h4 style="margin-top:20px;">AMAZON WEB SERVICES</h4>
    <mat-chip-list>
        <mat-chip color="primary" selected>S3</mat-chip>
        <mat-chip color="primary" selected>SQS</mat-chip>
        <mat-chip color="primary" selected>Lambda</mat-chip>
        <mat-chip color="primary" selected>EC2</mat-chip>
        <mat-chip color="primary" selected>RDS</mat-chip>
        <mat-chip color="primary" selected>CloudFront</mat-chip>
        <mat-chip color="primary" selected>Elasticache</mat-chip>
        <mat-chip color="primary" selected>VPC</mat-chip>
        <mat-chip color="primary" selected>CloudDeploy</mat-chip>
        <mat-chip color="primary" selected>Athena</mat-chip>
        <mat-chip color="primary" selected>Glue</mat-chip>
        <mat-chip color="primary" selected>DynamoDB</mat-chip>        
        <mat-chip color="primary" selected>LoadBalancer</mat-chip>
    </mat-chip-list>

    <h4 style="margin-top:20px;">MICROSOFT AZURE</h4>
    <mat-chip-list>
        <mat-chip color="primary" selected>SignalR</mat-chip>
        <mat-chip color="primary" selected>Azure Functions</mat-chip>
        <mat-chip color="primary" selected>Azure Service Bus</mat-chip>
        <mat-chip color="primary" selected>CosmosDB</mat-chip>
        <mat-chip color="primary" selected>Blob Storage</mat-chip>
    </mat-chip-list>