<h2>ABOUT</h2>
<mat-divider style="margin-top:20px; margin-bottom:20px;"></mat-divider>

<h3 align="center" style="font-style: italic; margin-top: 50px; margin-bottom: 50px;">"A Software Engineer with an
    eccentric addiction to technology, backed
    by a Computer Science degree and a huge stash of coffee..."</h3>


<img src="assets/image/profile-footer.jpg" width="100%">

<p style="margin-top:50px;">I am <span style="font-size:18px;">James Pickup</span>, a software developer from Chester,
    UK. Interested in 3D rendering, cloud platforms and challenging the great unknown.</p>

<div style="margin-top:40px;">
    <h4>
        Main Skills:
    </h4>
    <ul>
        <li>Software Development, Application Architecture, Cloud Services (AWS/Azure)</li>
        <li>.Net, C#, Typescript, Angular Evangelist</li>
        <li>WebApi, REST, gRPC</li>
        <li>Microservices, distributed computing, cloud infrastructure</li>
        <li>AGILE, SCRUM, SOLID, TDD, Design Patterns</li>
        <li>Git, Jira, Confluence, Jenkins, Gitlab Pipelines</li>
        <li>Team leadership, mentioning & project management</li>
    </ul>
</div>

<div style="width: 100%; text-align: center; margin-top:100px;">
    <button mat-button [color]="'primary'" [routerLink]="['../portfolio']">Go to Portfolio
        <mat-icon>navigate_next</mat-icon>
    </button>
</div>