<div style="width: 100%;">
    <img src="assets/image/profile-wall.jpg"
        style="width: 100%; clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);">
</div>
<mat-card style="width:30%; min-width:320px; margin: 0 auto; margin-top: -100px;">
    <img src="assets/image/profile-pic.jpg" class="profile-pic-size profile-pic-rounding">
    <h1 class="permanent-marker">James Pickup</h1>
    <h3>Software Developer</h3>
    <div>
        <a mat-icon-button href="mailto:jamespickup2@gmail.com.com">
            <img src="assets/icons/email.svg" alt="Email" class="social-button-size">
        </a>

        <a mat-icon-button href="https://www.linkedin.com/in/jamespickup1" target="_blank">
            <img src="assets/icons/linkedin.svg" alt="Linkedin" class="social-button-size">
        </a>

        <a mat-icon-button href="https://github.com/CherryCoder91" target="_blank">
            <img src="assets/icons/github.svg" alt="Github" class="social-button-size">
        </a>

        <a mat-icon-button href="https://stackoverflow.com/users/11928005/creativeabyss" target="_blank">
            <img src="assets/icons/stackoverflow.svg" alt="Stackoverflow" class="social-button-size">
        </a>

        <a mat-icon-button href="https://www.youtube.com/channel/UCokSAeT5U54IKJ-bjYQtPkw" target="_blank">
            <img src="assets/icons/youtube.svg" alt="YouTube" class="social-button-size">
        </a>

        <a mat-icon-button href="https://www.instagram.com/creativeabyss/" target="_blank">
            <img src="assets/icons/instagram.svg" alt="Instagram" class="social-button-size">
        </a>

        <a mat-icon-button href="https://open.spotify.com/playlist/2HWalS225eFANaNbrSUKGh" target="_blank">
            <img src="assets/icons/spotify.svg" alt="Spotify" class="social-button-size">
        </a>

        <mat-divider [inset]="true" style="margin-top:20px; margin-bottom:20px;"></mat-divider>

        <a mat-button href="/assets/files/james-pickup-developer-cv-2020.pdf" target="_blank">
            <span>DOWNLOAD CV </span>
            <mat-icon style="margin-top: -5px;">save_alt</mat-icon>
        </a>
    </div>
</mat-card>