<div style="width: 100%;">
    <img src="assets/image/profile-wall.jpg"
        style="width: 100%; clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);">
</div>
<mat-card style="width:30%; min-width:320px; margin: 0 auto; margin-top: -100px;">
    <img src="assets/image/profile-pic.jpg" class="profile-pic-size profile-pic-rounding">
    <h1>James Pickup</h1>
    <h3>Software Developer</h3>
    <div>
        <button mat-icon-button>
            <img src="assets/icons/email.svg" alt="Email" class="social-button-size">
        </button>

        <button mat-icon-button>
            <img src="assets/icons/linkedin.svg" alt="Linkedin" class="social-button-size">
        </button>

        <button mat-icon-button>
            <img src="assets/icons/github.svg" alt="Github" class="social-button-size">
        </button>

        <button mat-icon-button>
            <img src="assets/icons/stackoverflow.svg" alt="Stackoverflow" class="social-button-size">
        </button>

        <button mat-icon-button>
            <img src="assets/icons/youtube.svg" alt="YouTube" class="social-button-size">
        </button>

        <button mat-icon-button>
            <img src="assets/icons/instagram.svg" alt="Instagram" class="social-button-size">
        </button>

        <button mat-icon-button>
            <img src="assets/icons/spotify.svg" alt="Spotify" class="social-button-size">
        </button>

        <mat-divider [inset]="true" style="margin-top:20px; margin-bottom:20px;"></mat-divider>

        <button mat-button>
            <span>DOWNLOAD CV </span>
            <mat-icon style="margin-top: -5px;">save_alt</mat-icon>
        </button>
    </div>
</mat-card>