<div class="blog-card" *ngFor="let blogCard of blogCardViews">
    <div class="meta">
      <div class="photo" style="background-image: url({{blogCard.imageUrl}})"></div>
      <ul class="details">
        <li class="author"><mat-icon style="font-size:16px;">person</mat-icon>{{blogCard.author}}</li>
        <li class="date"><mat-icon style="font-size:16px;">calendar_today</mat-icon>{{blogCard.date}}</li>
        <li class="tags">
          <ul>
            <mat-icon style="font-size:16px;">label</mat-icon>
            <li *ngFor="let tag of blogCard.tags"><mat-chip color="primary" selected>{{tag}}</mat-chip></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>{{blogCard.title}}</h1>
      <h2>{{blogCard.subTitle}}</h2>
      <p> {{blogCard.content}}</p>
      <p class="read-more">
        <a href="{{blogCard.readMore}}" target="_blank">Read More</a>
      </p>
      <p *ngIf="blogCard.liveExample !== ''" class="read-more" style="display: inline-block;">
        <a href="{{blogCard.liveExample}}" target="_blank">Live Example</a>
      </p>
    </div>
  </div>